* {
  box-sizing: border-box;
}

$sidebar-color: #ffffff;
$btn-color: #38aef0;

.wrapper {
  display: flex;
}

.Side-bar {
  width: 300px;
  &__header {
    height: 100px;
    background-color: #253141;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__item {
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__name {
        font-size: 16px;
        color: $sidebar-color;
      }
      &__icons {
        width: 60px;
        display: flex;
        justify-content: flex-end;
        .far {
          color: $sidebar-color;
        }
        .fas {
          color: $sidebar-color;
          margin-left: 5px;
        }
      }
    }
  }
  &__groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    &__group {
      padding: 20px 20px 40px 20px;
      &__name {
        font-size: 15px;
        color: $sidebar-color;
        font-weight: bold;
        margin-bottom: 5px;
      }
      &__message {
        font-size: 11px;
        color: $sidebar-color;
        font-weight: bold;
      }
    }
  }
}

.Chat-main {
  width: calc(100vw - 300px);
  &__header {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    &__group {
      &__name {
        color: #333333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__member {
        display: flex;
        color: #999999;
        font-size: 12px;
        margin-top: 15px;
      }
    }
    &__edit {
      width: 72px;
      &__btn {
        display: block;
        text-decoration: none;
        height: 40px;
        color: $btn-color;
        font-size: 16px;
        line-height: 40px;
        border: 1px solid $btn-color;
        padding: 0 20px;
        margin-top: 28px;
      }
    }
  }
  &__messages {
    height: calc(100vh - (100px + 90px));
    background-color: #fafafa;
    overflow: scroll;
    padding: 35px 0 0 40px;
    &__message {
      margin-bottom: 46px;
      &__title {
        margin-bottom: 12px;
        display: flex;
        &__name{
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      &__content {
        color: #434a54;
        font-size: 14px;
      }
    }
  }
  &__footer {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    &__form {
      display: flex;
      &__content {
        width: 100%;
        margin-right: 15px;
        display: flex;
        position: relative;
        &__message {
          height: 50px;
          width: 100%;
          border-style: none;
          padding: 0 40px 0 10px;
        }
        &__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          &__file {
            display: none;
          }
        }
      }
      &__send-btn {
        width: 100px;
        height: 50px;
        color: #fff;
        background-color: $btn-color;
        font-size: 16px;
        border: none;
        padding: 0 30px;
      }
    }
  }
}